<h1> Events </h1>
<%= button_to 'Create Event A', create_event_a_path, method: :post %><br/>
<%= button_to 'Create Event B', create_event_b_path, method: :post %><br/>
<%= button_to 'Send Email Notifications', send_email_notifications_path, method: :post %>